<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" {{ site.language_attributes }}>
  <!--<![endif]-->
  <head>
    <meta charset="{{ site.charset }}"/>

    <title>
      {% if wp_title %}
        {{ wp_title ~ ' | ' ~ site.name }}
      {% else %}
        {{ site.name }}
      {% endif %}
    </title>

    {% include "core/metadata.html.twig" %}

    {{function('wp_head')}}

    {% block head %}{% endblock %}
  </head>

  <body class="{{ body_class|join(' ') }}">
    <div class="barba-wipe z-40"></div>

    {% block header %}
      {% include "layout/header.html.twig" %}
    {% endblock %}

    <div class="main-wrapper z-10" data-barba="wrapper">
      <main class="main {{ main_class|join(' ') }}" data-barba="container" data-barba-namespace="{{ post.post_name }}">
        {% block main %}{% endblock %}

        {% block scripts %}{% endblock %}
      </main>
    </div>

    {% block footer %}
      {% include "layout/footer.html.twig" %}
    {% endblock %}

    {{ function('wp_footer') }}
  </body>
</html>