{# Sample page #}

{% extends "core/base.html.twig" %}

{% set main_class = ['header-offset'] %}

{% block main %}

  {% embed "layout/section.html.twig" %}

    {% block section %}

      <div class="row">
        <div class="col w-full md:w-10/12 lg:w-8/12 xl:w-6/12">
          
            <h1 class="anime-slide-in">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h1>

          <h2 class="mt-20">{{ post.title }}</h2>
          <p>{{ post.content }}</p>
        </div>
      </div>

    {% endblock %}

  {% endembed %}

  {% embed "layout/section.html.twig" %}

    {% block section %}

      <div class="row">
        <div class="col w-full md:w-10/12 lg:w-8/12 xl:w-6/12">
          
            <h1 class="anime-slide-in">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h1>

          <h2 class="mt-20">{{ post.title }}</h2>
          <p>{{ post.content }}</p>
        </div>
      </div>

    {% endblock %}

  {% endembed %}


{% embed "layout/section.html.twig" %}

    {% block section %}

      <div class="row">
        <div class="col w-full md:w-10/12 lg:w-8/12 xl:w-6/12">
          
            <h1 class="anime-slide-in">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h1>

          <h2 class="mt-20">{{ post.title }}</h2>
          <p>{{ post.content }}</p>
        </div>
      </div>

    {% endblock %}

  {% endembed %}


{% endblock %}
